[Unit]
Description=ShopHosting.io directory backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/shophosting/scripts/shophosting-dir-backup.sh
Environment=HOME=/root
Environment=XDG_CACHE_HOME=/root/.cache
StandardOutput=journal
StandardError=journal

# Security
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
